body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

.search-container {
    text-align: center;
    margin-bottom: 10px; 
}

#searchBar {
    width: 50%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

.table-container {
    overflow-x: auto;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    background-color: white;
    padding: 17px;
    border-radius: 8px;
    margin-top: auto; 
    width: 70%;
    margin: auto;
}

.schedule-table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

.schedule-table thead{
    background-color: #007bff;
    color: #ffffff;
}

.schedule-table thead th{
    padding: 15px;
    font-size: 16px;
}

.schedule-table tbody td{
    padding: 2px;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.schedule-table tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}

.schedule-table tbody tr:hover {
    background-color: #f1f1f1;
}

.schedule-table tbody td:first-child {
    font-weight: bold;
    color: #333;
    border-right: none;
}    

.schedule-table tbody td:last-child {
    border-right: none;
}

.schedule-table thead th:last-child {
    border-right: none;
}
